.campo {
    display: flex;
    flex-direction: column;
    margin: 24px 0;
}

.campo label {
    font-family: var(--fonte-texto);
    font-size: 18px;
    color: var(--preto-label);
    margin-bottom: 8px;
    font-weight: 600;

}

.campo input {
    background-color: var(--branco);
    font-family: var(--fonte-texto);
    font-size: 16px;
    border: none;
    width: 930px;
    height: 80px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.6);
    width: 100%;
    padding: 24px;
    box-sizing: border-box;

}

.campo-color input {
    padding: 8px 24px;
}