.time {
    text-align: center;
    background-color: var(--fundo-prog);
    padding: 32px;

}

.time h3 {
    font-family: var(--fonte-titulo);
    font-size: 32px;
    border-bottom: 4px solid var(--destaq-prog);
    display: inline-block;
    padding-bottom: 8px;
}